body{
	text-align: center;
	font-family: "Lato";
}
nav{
	ul{
		background-color: rgb(96, 174, 28);
		li{
			display:inline-block;
			padding: 0px 55px;
			font-weight: bold;
			line-height: 3.999;
			font-size: 20.003px;
			color: white;
			&:hover{
				color: rgb(159, 255, 89);
			}
		}
	}
}


footer{
	color: rgb(255, 255, 255);
	background: url('../img/footer.png') cover;
	min-height: 245px;
}